# dependencies
/node_modules

# server dir
/server/node_modules

# client dir
/client/node_modules
/client/.gitignore
/client/src/images

# env
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
