.footer footer {
  .footer-bottom {
    margin-top: 1rem;
    padding-bottom: 1rem;

    .copyright-text {
      h4 {
        text-align: center;
        line-height: 1.7;
        font-weight: 500;
        font-size: 15px;

        span {
          font-family: 'Merienda', cursive;
          font-size: 16.5px;
        }
      }
    }
  }
}
